<div class="apps-main">
    <h1>Contact</h1>
    <p>Any feedback and suggestions are welcome. We will try to read every tweet and email. If it's a question, please check the <a href="/faq/">FAQs</a> before you contact us.</p>

    <ul>
        <li><a href="mailto:contact@bluecometlabs.com">contact@bluecometlabs.com</a> for feedback, suggestions, and bug reports</li>
        <li><a href="{{ site.links.twitter }}">@expensesapp</a> on Twitter</li>
        <li><a href="{{ site.links.mastodon }}">@expenses</a> on Mastodon</li>
    </ul>

    <p>If you enjoy the app, we appreciate any help by giving a rating or writing a review on both iOS and Mac App Store via <a href="{{ site.links.app_store_review }}">this link</a>. You can do so by opening the link both on iOS and macOS.</p>
</div>
