<div class="apps-main">
    <h1>Contact</h1>
    <p>Any feedback and suggestions are welcome. We will try to read every tweet and email. If it's a question, please check out the following <a href="#frequently-asked-questions">Frequently Asked Questions</a> before you contact us.</p>
    <ul>
        <li><a href="{{ site.links.twitter }}">@expensesapp</a> on Twitter</li>
        <li><a href="mailto:feedback@pixyzehn.com">feedback@pixyzehn.com</a> for feedback, suggestions, and bug reports</li>
    </ul>

    <hr>

    <h2 id="frequently-asked-questions">Frequently Asked Questions</h2>
    <ul>
        <li><a href="#sharing-sheet-with-others">Sharing a sheet with others</a></li>
        <li><a href="#universal-purchase">Universal Purchase</a></li>
        <li><a href="#icloud-sync-is-not-working">iCloud Sync is not working between iOS and Mac</a></li>
        <li><a href="#disabled-icloud-sync-option">Disabled iCloud Sync option</a></li>
        <li><a href="#how-to-delete-category">How to delete a category</a></li>
        <li><a href="#error-when-trying-to-restore-purchase">Get an error when trying to restore a purchase</a></li>
        <li><a href="#family-purchases">Family Purchases</a></li>
        <li><a href="#request-refund">Request a refund</a></li>
    </ul>

    <h3 id="sharing-sheet-with-others">Sharing a sheet with others</h3>
    <details>
    <p>To share a sheet with others, people you added also need to unlock the full features because our Sharing uses iCloud sync. If the people still can't see anything you shared, please check the following on both sides (you and people you added):</p>
    <p>On iOS,</p>
    <ol>
        <li>Have enough storage space in iCloud on your device.</li>
        <li>Go to Settings>Apple ID>iCloud and check the checkbox for Expenses app.</li>
    </ol>
    <p>On macOS,</p>
    <ol>
        <li>Have enough storage space in iCloud on your device.</li>
        <li>Go to System Preferences>Apple ID>iCloud Drive(Options...) and check the checkbox for Expenses.app in Documents.</li>
    </ol>
    <p>In Expenses app,</p>
    <ol>
        <li>iCloud Sync is turned on in Settings>Sync.</li>
        <li>In Settings>Sync, try force push all data to iCloud, and then try force fetch all data from iCloud.</li>
    </ol>
    </details>

    <h3 id="universal-purchase">Universal Purchase</h3>
    <details>
    <p>Our In-App purchase to unlock the full features is a universal purchase, meaning that you don't need to purchase it again in another platform as long as you use the same iCloud account. To restore a purchase you did in another platform, please check the following:</p>
    <p>In Expenses app,</p>
    <ol>
        <li>Go to Settings>Unlock the App.</li>
        <li>Tap Restore Purchase.</li>
        <li>Confirm that you see "Restore Purchase was successful" message.</li>
    </ol>
    </details>

    <h3 id="icloud-sync-is-not-working">iCloud Sync is not working between iOS and Mac</h3>
    <details>
    <p>First of all, please make sure that you use the same iCloud account both on iOS and macOS, and have enough iCloud storage on both platforms. If it still doesn't work, please do the following troubleshooting:</p>
    <p>In Expenses macOS,</p>
    <ol>
        <li>Go to Preferences>Sync.</li>
        <li>Click "Force push all data to iCloud".</li>
        <li>Click "Fetch all data from iCloud".</li>
    </ol>
    <p>In Expenses iOS,</p>
    <ol>
        <li>Go to Settings>Sync.</li>
        <li>Click "Force push all data to iCloud".</li>
        <li>Click "Fetch all data from iCloud".</li>
        <li>Check if the data is fetched.</li>
    </ol>
    </details>

    <h3 id="disabled-icloud-sync-option">Disabled iCloud Sync option</h3>
    <details>
    <p>Expenses app relies on iCloud to sync data. If the iCloud Sync option in Settings>Sync is disabled in the app, it means the app can't access iCloud on your device. To enable it, please check the following:</p>
    <p>On iOS,</p>
    <ol>
        <li>Go to Settings>Apple ID>iCloud.</li>
        <li>Check the checkbox for Expenses app.</li>
        <li>Relaunch the app to properly reflect the change.</li>
        <li>See the iCloud Sync is now enabled.</li>
    </ol>
    <p>On macOS,</p>
    <ol>
        <li>Go to System Preferences>Apple ID>iCloud Drive(Options...).</li>
        <li>Check the checkbox for Expenses.app in Documents.</li>
        <li>Relaunch the app to properly reflect the change.</li>
        <li>See the iCloud Sync is now enabled.</li>
    </ol>
    </details>

    <h3 id="how-to-delete-category">How to delete a category</h3>
    <details>
    <p>Expenses app allows you to delete any category including the default categories. When deleting a category, expenses/income using the category also will be deleted. So, make sure that you change a category if you still want to keep them.</p>
    <p>On iOS,</p>
    <ol>
        <li>Go to Settings>Categories.</li>
        <li>Tap the category you'd like to delete.</li>
        <li>Select the delete button at the bottom.</li>
        <li>Tap the delete action after you check the confirmation.</li>
    </ol>
    <p>On macOS,</p>
    <ol>
        <li>Go to System Preferences>Categories.</li>
        <li>Tap the category you'd like to delete.</li>
        <li>Select the delete button at the bottom.</li>
        <li>Tap the delete action after you check the confirmation.</li>
    </ol>
    </details>

    <h3 id="error-when-trying-to-restore-purchase">Get an error when trying to restore a purchase</h3>
    <details>
    <p>Please check the following list from <a href="https://support.apple.com/en-us/HT204530">Apple's article</a>.</p>
    <ol>
        <li>Make sure that you're signed in with the same Apple ID you used to make the purchase.</li>
        <li>Check <a href="https://support.apple.com/en-us/HT204396">the restrictions</a> on your device to make sure in-app purchases are allowed.</li>
        <li>Restart your device.</li>
    </ol>
    </details>

    <h3 id="family-purchases">Family Purchases</h3>
    <details>
    <p>We have enabled Family Sharing functionality for the purchase. To access in-app purchases from an app purchased by another family member, the app should be downloaded from the family member's purchased history.</p>
    <ol>
        <li>Go to App Store>Purchased</li>
        <li>Select Family Purchases</li>
        <li>Download Expenses.app from Family Purchases</li>
    </ol>
    </details>

    <h3 id="request-refund">Request a refund</h3>
    <details>
    <p>Since we don't have any access to purchases, please follow <a href="https://support.apple.com/en-us/HT204084">Request a refund for apps or content that you bought from Apple</a>. We'd also love to hear what you didn't like so that we could make improvements in the near future.</p>
    </details>
</div>