<div class="apps-main">
    <h1>Frequently Asked Questions</h1>

    <div class="row">
        <div class="col-sm">
            <p><strong>Sync</strong></p>
            <p>{% include icons/file-text.html %}<a href="/faq/troubleshooting-icloud-sync">Troubleshooting iCloud Sync</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/enabling-icloud-sync">Enabling iCloud Sync</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/troubleshooting-errors-fetching-changes">Troubleshooting errors fetching changes</a></p>        
        </div>
        <div class="col-sm">
            <p><strong>Sharing</strong></p>
            <p>{% include icons/file-text.html %}<a href="/faq/sharing-sheet-with-others">Sharing a sheet with others</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/troubleshooting-sharing-link">Troubleshooting Sharing Link</a></p>        
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <p><strong>Purchases</strong></p>
            <p>{% include icons/file-text.html %}<a href="/faq/universal-purchase">Universal Purchase</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/troubleshooting-error-when-restoring-purchase">Troubleshooting error when restoring purchase</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/family-purchases">Family Purchases</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/request-refund">Request a refund</a></p>        
        </div>
        <div class="col-sm">
            <p><strong>User Guide</strong></p>
            <p>{% include icons/file-text.html %}<a href="/faq/getting-started">Getting Started</a></p>        
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <p><strong>Others</strong></p>
            <p>{% include icons/file-text.html %}<a href="/faq/join-beta">Join the beta</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/sending-crash-reports">Sending crash reports</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/translation-in-your-lang">Translation in your language</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/redeem-promo-code">Redeem Promo Code</a></p>
            <p>{% include icons/file-text.html %}<a href="/faq/potential-data-loss">Potential data loss on v2.7.0</a></p>        
        </div>
    </div>

    {% include faq_footer.html %}
</div>
