<div class="apps-main">
    <h1>Frequently Asked Questions</h1>

    <p><strong>Sync</strong></p>
    <p><a href="/faq/icloud-sync-is-not-working">iCloud Sync is not working between iOS and Mac</a></p>
    <p><a href="/faq/disabled-icloud-sync">Disabled iCloud Sync</a></p>
    <p><a href="/faq/error-fetching-changes">Error fetching changes</a></p>

    <p><strong>Sharing</strong></p>
    <p><a href="/faq/sharing-sheet-with-others">Sharing a sheet with others</a></p>
    <p><a href="/faq/sharing-link-is-not-working">Sharing link is not working</a></p>

    <p><strong>Purchases</strong></p>
    <p><a href="/faq/universal-purchase">Universal Purchase</a></p>
    <p><a href="/faq/error-when-trying-to-restore-purchase">Getting an error when trying to restore a purchase</a></p>
    <p><a href="/faq/family-purchases">Family Purchases</a></p>

    <p><strong>Others</strong></p>
    <p><a href="/faq/join-beta">Join the beta</a></p>
    <p><a href="/faq/sending-crash-reports">Sending crash reports</a></p>
    <p><a href="/faq/translation-in-your-lang">Translation in your language</a></p>
    <p><a href="/faq/request-refund">Request a refund</a></p>
    <p><a href="/faq/how-to-redeem-promo-code">How to redeem a promo code</a></p>

    {% include faq_footer.html %}
</div>
