<footer class="site-footer">
    <div class="wrapper">
        <hr>
        <div class="row row-cols-2">
            <div class="col-md-3 my-2">
                <h5>Product</h5>
                <ul class="nav flex-column ml-0">
                    <li class="nav-item mb-2"><a href="{{ site.links.app_store }}" class="nav-link p-0">App Store</a></li>
                    <li class="nav-item mb-2"><a href="{{ site.links.setapp }}" class="nav-link p-0">Setapp</a></li>
                </ul>
            </div>
            <div class="col-md-3 my-2">
                <h5>Support</h5>
                <ul class="nav flex-column ml-0">
                    <li class="nav-item mb-2"><a href="/faq/" class="nav-link p-0">FAQ</a></li>
                    <li class="nav-item mb-2"><a href="/contact/" class="nav-link p-0">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 my-2">
                <h5>Social</h5>
                <ul class="nav flex-column ml-0">
                    <li class="nav-item mb-2"><a href="{{ site.links.twitter }}" class="nav-link p-0">X</a></li>
                    <li class="nav-item mb-2"><a rel="me" href="{{ site.links.mastodon }}" class="nav-link p-0">Mastodon</a></li>
                </ul>
            </div>
            <div class="col-md-3 my-2">
                <h5>Legal</h5>
                <ul class="nav flex-column ml-0">
                    <li class="nav-item mb-2"><a href="/press/" class="nav-link p-0">Press</a></li>
                    <li class="nav-item mb-2"><a href="/privacy/" class="nav-link p-0">Privacy Policy</a></li>
                    <li class="nav-item mb-2"><a href="/terms/" class="nav-link p-0">Terms and Conditions</a></li>
                </ul>
            </div>
          </div>    
        <p class="text-center">
            <small>
                &copy; 2020-{{ site.time | date: '%Y' }} <a href="{{ site.links.company }}">Blue Comet Labs LLC</a>. All Rights Reserved.<br>
            </small>
        </p>
    </div>
</footer>

{% include ext_js.html js=js %}
