<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="og:title" content="{{ site.title }}">
    <meta name="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.url }}/assets/expenses.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@expensesapp">
    <!-- Smart Banner -->
    <meta name="apple-itunes-app" content="app-id=1492055171">
    <title>{{ site.title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% include ext_css.html css=css %}
    <link rel="stylesheet" href="/css/main.css">
    {%- seo -%}
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon" href="/ico/apple-touch-icon.png">
</head>
