<div class="apps-main text-center">
    <picture>
      <source srcset="../assets/expenses-dark.png" width="80%" media="(prefers-color-scheme: dark)">
      <img src="../assets/expenses.png" width="80%">
    </picture>
    <h1>Expenses</h1>
    <p><b>Expenses</b> has been crafted to <b>keep track of your spending effortlessly</b>, with useful features in a
        simple, intuitive interface. And with iCloud, it’s easy to <b>keep all your expenses in sync </b>across your
        devices and <b>collaborate with others</b> using sharing. The apps are available on Mac, iPhone, and iPad.</p>
    <a style="text-decoration:none" href="{{ site.links.app_store }}" target="_blank">
        <picture>
            <source srcset="../assets/app-store-badge-dark.svg" media="(prefers-color-scheme: dark)">
            <img src="../assets/app-store-badge.svg">
        </picture>
    </a>
    <a style="text-decoration:none" href="{{ site.links.app_store }}" target="_blank">
        <picture>
            <source srcset="../assets/mac-app-store-badge-dark.svg" media="(prefers-color-scheme: dark)">
            <img src="../assets/mac-app-store-badge.svg">
        </picture>
    </a>
    <p>
        <a href="https://www.producthunt.com/posts/expenses-spending-tracker?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-expenses-spending-tracker" target="_blank">
            <picture>
                <source srcset="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=202478&theme=dark" alt="Expenses: Spending Tracker - Keep track of your spending effortlessly. | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" media="(prefers-color-scheme: dark)">
                <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=202478&theme=light" alt="Expenses: Spending Tracker - Keep track of your spending effortlessly. | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54">
            </picture>
        </a>
    </p>
    <p>
        <setapp-custom-banner
            iconUrl="https://store.setapp.com/app/521/main/icon-624ac2c12bb3d.jpeg"
            appName="Expenses"
            appId="521"
            vendorId="345">
        </setapp-custom-banner>
    </p>
</div>

<div class="apps-features text-center">
    <div class="row">
        <div class="col-sm">
            <h2>Privacy</h2>
            <p>We care about your privacy seriously. The app requires no registration and no personal data. We don't collect any data.</p>
        </div>
        <div class="col-sm">
            <h2>Accessibility</h2>
            <p>The app is designed to be accessible to everyone, including those with special needs by providing built-in
                accessibility features.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Stats & Trends</h2>
            <p>Stats will show you an overview of your spending. Trends will tell you outstanding changes on your spending over time to help you spend better.</p>
        </div>
        <div class="col-sm">
            <h2>All currencies</h2>
            <p>The app supports all currencies you may need especially when traveling. It also supports automatically updated currency rates for major currencies.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm">
            <h2>And more...</h2>
            <p>iCloud Sharing, Quick Input, Dark Mode, Quick Actions, Split View, Multiple Windows on iPadOS/macOS, Context Menus, Mouse and Trackpad support on iPadOS/macOS, Keyboard Shortcuts for iPadOS/macOS, and so forth.</p>
        </div>
    </div>
    <p>
        <a href="https://twitter.com/expensesapp?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @expensesapp</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>    
</div>

<hr>

<div class="text-center">
    <h3>Here’s what users are saying...</h3>
    <div class="row">
        <div class="col-sm">
            <p>"Lots to commend. Well designed, works wonderfully, simple and still powerful. [...] It has the look and feel of a native Apple app and isn't intrustive or dominating in its functionality. Great tools, good support, simple and beautiful."</p>
            <p>⭐️⭐️⭐️⭐️⭐️</p>
            <cite><i>- Bobbywastaken</i></cite>
        </div>
        <div class="col-sm">
            <p>"This is the simplest, no nonsense, best expense tracking app I have found. [...] The developer is super active in resolving your queries and is always ready for trying and incorporate user's voice/suggestions."</p>
            <p>⭐️⭐️⭐️⭐️⭐️</p>
            <cite><i>- AmarBanga</i></cite>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <p>"this app is the best one i have ever tried. i have tried several expenses tracker apps and this is the most systematic and convenient one, bonus for it being minimalist and elegant looking!"</p>
            <p>⭐️⭐️⭐️⭐️⭐️</p>
            <cite>- itshabel</cite>
        </div>
        <div class="col-sm">
            <p>"I have used almost every expense tracker out there before stumbling on to this app. This is the best out there. Simple to use, great UI and even greater support."</p>
            <p>⭐️⭐️⭐️⭐️⭐️</p>
            <cite>- mitul03</cite>
        </div>
    </div>
</div>
