<div class="apps-main text-center">
    <img src="../assets/expenses.png" width="80%">
    <h1>Expenses</h1>
    <p><b>Expenses</b> has been crafted to <b>keep track of your spending effortlessly</b>, with useful features in a
        simple, intuitive interface. And with iCloud, it’s easy to <b>keep all your expenses in sync </b>across your
        devices and <b>collaborate with others</b> using sharing. The apps are available on Mac, iPhone, and iPad.</p>
    <a style="text-decoration:none" href="{{ site.links.app_store }}" target="_blank">
        <img src="../assets/app-store-badge.svg">
    </a>
    <a style="text-decoration:none" href="{{ site.links.app_store }}" target="_blank">
        <img src="../assets/mac-app-store-badge.svg">
    </a>
    <p>
        <img src="https://tools-qr-production.s3.amazonaws.com/output/apple-toolbox/0b3e6e0e4fcdcac4dcb50a2c0e510fa9/e99c5f99-d085-4654-9381-df94ff562abb.png" style="width: 140px; height: 140px;">
    </p>
    <p>
        <a href="https://www.producthunt.com/posts/expenses-spending-tracker?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-expenses-spending-tracker" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=202478&theme=dark" alt="Expenses: Spending Tracker - Keep track of your spending effortlessly. | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
    </p>
</div>

<div class="apps-features">
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center">Quick input</h2>
            <p>Enter your expense or income quickly and easily with minimum effort.</p>
        </div>
        <div class="col-sm">
            <h2 class="text-center">Sharing</h2>
            <p>Invite people and collaborate with them to better organize your expenses.</p>
        </div>
        <div class="col-sm">
            <h2 class="text-center">Categories</h2>
            <p>We think categories as an essential part so you have full control of how you manage categories.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center">Accessibility</h2>
            <p>The app is designed to be accessible to everyone, including those with special needs by providing built-in
                accessibility features.</p>
        </div>
        <div class="col-sm">
            <h2 class="text-center">Privacy</h2>
            <p>We care about your privacy seriously. Expenses requires no registration and no personal data.</p>
        </div>
        <div class="col-sm">
            <h2 class="text-center">All currencies</h2>
            <p>The app supports all currencies you may need especially when traveling. It also supports automatically updated currency rates for major currencies.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center">Exporting</h2>
            <p>Export all expenses you enter in multiple ways, meaning that you can still make full use of the data as you
                want.</p>
        </div>
        <div class="col-sm">
            <h2 class="text-center">Statistics</h2>
            <p>Statistics will show you an overview of your spending. From there, you'll also see expenses in each
                category.</p>
        </div>
        <div class="col-sm">
            <h2 class="text-center">Trends</h2>
            <p>Trends will tell you outstanding changes on your spending over time to help you spend better.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center">All the small things...</h2>
            <p class="text-center">Dark Mode, Quick Actions, Split View, Multiple Windows on iPadOS/macOS, Context Menus, Mouse and Trackpad support on iPadOS/macOS, Keyboard Shortcuts for iPadOS/macOS, and more.</p>
        </div>
    </div>
</div>
