<div class="apps-main">
    <h1>Press Kit</h1>
    <p>Press Kit includes</p>
    <ul>
        <li>iOS App Screenshots (available in English and Japanese)</li>
        <li>macOS App Screenshots (available in English and Japanese)</li>
        <li>Logos</li>
        <li>Product images</li>
    </ul>
    <p>Download <a href="https://github.com/pixyzehn/getexpenses.app/releases/latest/download/presskit.zip" download="presskit.zip">here</a></p>
    <p>Want to review or cover Expenses? <a href="/contact/">Contact us</a> for interview requests, product demos, and more.</p>
</div>
